@import '../../scss/main';

.navbar{
    font-size: 1rem;
    background-color: $primary-color;
    &-brand{
        font-family: $page-font-family;
        
        img{
            width: 50px;
            height: auto;
        }
    }
}